@model auth.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="details">

    <h2>Dane @Model.FullName </h2>
    <div class="details-cont">
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Department.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Specialisation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Specialisation)
                </dd>

            </dl>
        </div>

    </div>
</div>
